.container__admin-dashboard {
    max-width: calc(100% - 4rem);
    margin-inline: auto;
}

.dashboard-heading {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-family: var(--ff-secondary);
    margin-top: 2rem;

    &--export {
        justify-content: end;
    }

    &__title {
        font-weight: 700;
        font-size: 3.125rem;
        margin-bottom: 1rem;
    }

    &__subtitle {
        color: hsl(var(--clr-neutral-900) / 0.5);
        font-weight: 400;
    }

    &__options {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__option--export {
        background: hsl(var(--clr-neutral-900));
        color: hsl(var(--clr-neutral-100));

        border-radius: 10px;
        outline: none;
        border: none;

        display: flex;
        align-items: center;

        height: min-content;
        padding: 0.5rem 1rem;

        font-family: var(--ff-secondary);
        font-weight: 600;
        white-space: nowrap;
        cursor: pointer;
        transition: transform 300ms ease;
        position: relative;

        &:active {
            filter: brightness(1.2);
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    &__tab-navigation {
        position: relative;
        display: inline-flex;
    }

    &__tab {
        color: hsl(var(--clr-neutral-900) / 0.4);
        border: none;

        border-bottom: 1px solid hsl(var(--clr-neutral-900) / 0.15);
        background-color: transparent;

        padding: 0.625rem 1.25rem;
        cursor: pointer;
        font-weight: 500;
        transition: border-bottom 150ms ease, color 300ms ease;

        &:hover:not(.dashboard-heading__tab--active) {
            border-bottom: 3px solid hsl(var(--clr-cta-400) / 0.5);
            // border-color: hsl(var(--clr-cta-400) / 0.6);
        }

        &--active {
            border-bottom: 3px solid hsl(var(--clr-cta-400));
            // border-color: hsl(var(--clr-cta-400));
            color: hsl(var(--clr-neutral-900));
        }
    }

    .tab-slider {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: green;
        transition: transform 0.3s ease;
    }
}

.dashboard-report {
    margin-top: 3rem;
    margin-bottom: 2rem;

    &__list {
        display: flex;
        gap: 1rem;
        font-family: var(--ff-secondary);
    }

    &__item {
        background-color: hsl(var(--clr-neutral-100));
        color: hsl(var(--clr-neutral-900));
        border-radius: 10px;
        padding: 1.5rem;
        padding-bottom: 3rem;
        padding-right: 2rem;
        flex: 1;

        &:first-of-type {
            background-color: hsl(var(--clr-cta-400));
            color: hsl(var(--clr-neutral-100));
        }
    }

    &__title {
        font-weight: 700;
        font-size: var(--fs-500);
        margin-bottom: 0.5rem;
    }

    &__subtitle {
        white-space: nowrap;
        font-size: var(--fs-300);
        opacity: 0.5;
    }
}
