.billing-form {
    font-weight: 600;
    color: hsl(var(--clr-neutral-900) / 0.5);
    &__title {
        color: #00870e;
        font-size: 2.25rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    &__subtitle {
        margin-left: 0.5rem;
        margin-bottom: 2rem;
    }

    &__payment-group {
        margin-bottom: 2rem;
    }
    &__group-title {
        color: hsl(var(--clr-neutral-900) / 0.7);
        font-size: 1.5625rem;
        margin-bottom: 1rem;
    }
    &__group-layout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.75rem;
        margin-bottom: 2rem;
    }

    &__group {
        display: flex;
        flex-direction: column;
    }

    &__group-label {
        margin-bottom: 1rem;
    }
    &__group-input,
    &__group-input + .select2-container--default {
        outline: none;
        background-color: hsl(var(--clr-primary-100));
        border: 2px solid hsl(var(--clr-neutral-900) / 0.2);
        border-radius: 10px;
        padding: 1rem 2rem;
        transition: border 200ms ease;

        &:focus {
            outline: none;
            border: 2px solid hsl(var(--clr-neutral-900));
        }
    }

    &__ &__button--submit {
        background-color: hsl(var(--clr-sun-400));
        border: none;
        border-radius: 30px;
        padding: 1rem 4rem;

        transition: background-color 200ms ease;
        &:hover {
            background-color: hsl(var(--clr-sun-400) / 0.8);
        }
    }
}
.center {
    display: flex;
    justify-content: center;
}
