@use "../abstract/mixins" as m;
// Booking form

.position-relative {
    position: relative;
}

.booking__form {
    --padding: 1.5rem;
    --label-color: hsl(var(--clr-primary-400));
    --input-color: hsl(var(--clr-neutral-900) / 0.5);

    display: none;
    border-radius: 0.8rem;
    padding: var(--padding);
    min-width: min-content;

    @include m.mq(medium) {
        background-color: hsl(var(--clr-neutral-100));
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        transform: translateY(-50%);
        filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.25));

        width: calc(100% - (var(--margin-size) * 4));
        margin: auto;

        &--search {
            --label-color: hsl(var(--clr-neutral-900) / 0.5);
            --input-color: hsl(var(--clr-neutral-900) / 0.1);
            --input-border-bottom: none;
            display: flex;

            .booking__form__button {
                background-color: hsl(var(--clr-sun-400));
            }
            .booking__form__button:hover {
                color: white;
                background-color: hsl(var(--clr-sun-400) / 0.8);
            }
        }

        &__field-wrapper {
            display: flex;
            justify-content: space-evenly;
            flex: 1;
        }

        &__field {
            display: flex;
            flex-direction: column;
            height: max-content;
            flex: 1;
            gap: calc(var(--padding) / 2);
            padding-left: var(--padding);
            padding-right: var(--padding);

            &:not(:last-child) {
                border-right: 1px solid hsl(var(--clr-neutral-900) / 0.1);
            }
        }

        &__label {
            font-family: var(--ff-secondary);
            font-size: 1rem;
            white-space: nowrap;
            color: var(--label-color);
        }

        &__input {
            background: none;
            outline: none;
            border: 0;
            cursor: text;
            border-bottom: var(--input-border-bottom);
            color: var(--input-color);
            font-family: var(--ff-secondary);
            padding-bottom: 0.5rem;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                background-color: hsl(var(--clr-primary-400));
                transition: width 0.4s ease;
            }
            &:focus::after {
                width: 100%;
            }
        }

        &__button {
            padding: 1rem 2rem;
            height: max-content;
            white-space: nowrap;
        }
    }
}
