/*  -------------------
        Footer
--------------------- */

.footer {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__wrapper {
        background-color: rgba(black, 0.75);
        display: grid;
        place-items: center;
        color: white;
        font-family: var(--ff-secondary);
        font-weight: 300;

        & > * {
            margin-bottom: 2rem;
        }
    }

    &__logo {
        margin-top: var(--margin-size);
        width: 10em;
    }
    &__details {
        display: grid;
        place-items: center;
        text-align: center;
    }

    &__span {
        line-height: normal;
        color: inherit;
        transition: transform 0.3s ease, color 0.3s ease;
        &--clickable:hover {
            transform: scale(1.1);
            color: hsl(var(--clr-sun-400));
        }
    }

    &__socials {
        display: flex;
        gap: 1.5rem;
        list-style-type: none;
    }

    &__icon {
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.2);
        }
    }
    &__icon path {
        transition: fill 0.3s ease;
    }

    &__icon:hover path {
        fill: hsl(var(--clr-sun-400));
    }

    &__nav {
        display: flex;
        justify-content: center;
        width: 100%;
        border-top: 1px solid hsl(var(--clr-neutral-100));
        border-bottom: 1px solid hsl(var(--clr-neutral-100));

        .nav__item {
            transition: color 0.3s ease;
            &:hover {
                color: hsl(var(--clr-sun-400));
            }
        }
    }
}
