.footer {
    background-image: url(../../../public/images/home/footer.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__wrapper {
        background-color: rgba(black, 0.75);
        position: relative;
        display: grid;
        place-items: center;
        color: white;
        font-family: var(--ff-secondary);
        font-weight: 300;

        & > * {
            margin-bottom: 2rem;
        }
    }

    &__logo {
        margin-top: var(--margin-size);
        width: 10em;
    }
    &__details {
        display: grid;
        place-items: center;
        text-align: center;
    }

    &__socials {
        display: flex;
        gap: 1.5rem;
        list-style-type: none;
    }

    &__nav {
        display: flex;
        justify-content: center;
        width: 100%;
        border-top: 1px solid hsl(var(--clr-neutral-100));
        border-bottom: 1px solid hsl(var(--clr-neutral-100));

        .nav__item:first-of-type {
            list-style-type: none;
        }
    }
}
