@use "../abstract/mixins" as m;

.nav {
    color: hsl(var(--clr-neutral-100));
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding-left: var(--margin-size);
    padding-right: var(--margin-size);

    &--auth {
        position: absolute;
        left: 0;
        right: 0;
        padding: 1.5rem var(--margin-size) 1rem var(--margin-size);
        color: hsl(var(--clr-primary-400));
    }
    &--primary {
        background-color: hsl(var(--clr-cta-400));
        color: hsl(var(--clr-neutral-100));
        align-items: center;
        padding: 1.5rem var(--margin-size) 1rem var(--margin-size);
    }

    &--landing {
        position: absolute;
        left: 0;
        right: 0;
        padding: 0.5rem var(--margin-size) 0.5rem var(--margin-size);

        @include m.mq(small) {
            padding: 1.5rem var(--margin-size) 1rem var(--margin-size);
        }
    }

    &__logo {
        max-width: 100%;
    }

    &__list {
        display: flex;
    }

    &__link {
        color: inherit;
    }

    &__item {
        display: none;
    }

    @include m.mq(small) {
        &__item {
            display: flex;
            padding: 1.31rem;
        }

        &__cta {
            flex-direction: column;
            align-items: center;
        }

        &__menu {
            display: none;
        }

        & .dropdown__container {
            transform: translateY(50%);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }

        & .dropdown__trigger {
            transition: transform 300ms ease;

            &--active {
                // background-color: hsl(var(--clr-neutral-300) / 0.2);
                transform: rotate(-180deg);
            }

            &:hover:not(.dropdown__trigger--active) {
                transform: scale(1.5);
            }
        }
    }
}
