.container__about {
    width: calc(100% - var(--margin-size) * 3);
    margin-inline: auto;
}
.about-section {
    font-family: var(--ff-secondary);

    &__item {
        margin-bottom: calc(var(--margin-size));
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;

        &--vertical {
            display: block;
            text-align: center;
            margin-inline: auto;
            margin-top: calc(var(--margin-size));
            max-width: 72ch;
        }
    }
}

.about-content {
    &__title {
        font-weight: 600;
        font-size: var(--fs-500);
        color: hsl(var(--clr-cta-400));
        margin-bottom: 1rem;
        white-space: nowrap;

        &--large {
            font-size: var(--fs-600);
        }
    }

    &__text {
        line-height: normal;
        max-width: 45ch;

        &--large {
            max-width: 100%;
        }
    }
}

.service-section {
    border-top: 3px solid hsl(var(--clr-primary-400) / 0.1);
    margin-top: calc(var(--margin-size));
    margin-bottom: calc(var(--margin-size) / 2);
    position: relative;
    font-family: var(--ff-secondary);

    &::after {
        content: "Our Services";
        color: hsl(var(--clr-cta-400));
        background-color: hsl(var(--clr-primary-100));
        // border: 1px solid lime;

        position: absolute;
        top: 0;
        left: 0;
        margin-left: calc(var(--margin-size) * 1.5);
        transform: translateY(-50%);
        padding: 1rem;

        font-size: 1rem;
        font-family: var(--ff-secondary);
    }
    &__container {
        width: calc(100% - var(--margin-size) * 3);
        margin-inline: auto;
        margin-top: calc(var(--margin-size) / 2);

        display: flex;
        justify-content: space-evenly;

        gap: 7rem;
    }

    &__item {
        width: fit-content;

        $delay-step: 200ms;
        $total-items: 3;

        @for $i from 1 through $total-items {
            &:nth-child(#{$i}) {
                transition-delay: $i * $delay-step;
            }
        }
    }
}

.service-content {
    line-height: normal;

    &__img {
        margin-bottom: 2rem;
        max-width: 100%;
    }
    &__title {
        font-weight: 600;
        font-size: var(--fs-400);
        color: hsl(var(--clr-primary-400));
    }

    &__text {
        text-align: justify;
    }
}
