.gallery {
    padding-top: var(--margin-size);

    &__title {
        color: hsl(var(--clr-primary-400));
        text-align: center;
        font-size: var(--fs-500);
        font-family: var(--ff-secondary);
        font-weight: 400;
        margin-bottom: 3rem;
        &--bold {
            font-weight: 600;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
        width: calc(100% - var(--margin-size) * 3);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: var(--margin-size);
    }

    .gallery {
        &__card {
            --transition-speed: 300ms;
            height: 250px;
            position: relative;
            border-radius: 15px;
            overflow: hidden;
            background-color: black;
            transition: transform var(--transition-speed) ease;

            &-image {
                /* Styling Stuff */
                width: 100%;
                height: 100%;
                object-fit: cover;

                opacity: 1;
                transition: opacity var(--transition-speed) ease-in-out;
            }

            &:hover,
            &:focus-within {
                transform: scale(1.1);

                .gallery__card-image {
                    opacity: 0.6;
                }
            }

            &::before,
            &::after {
                opacity: 0;
                transition: transform 1s ease, opacity 1s ease-in-out;
                content: "";
                position: absolute;
                inset: 1.25rem;
                color: white;
                border-radius: 15px;
            }

            &::before {
                transform: scale(1, 0);
                border-left: 2px solid white;
                border-right: 2px solid white;
            }

            &::after {
                transform: scale(0, 1);
                border-top: 2px solid white;
                border-bottom: 2px solid white;

                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                pointer-events: none;
                text-transform: uppercase;
                font-family: "Open Sans", sans-serif;
                font-size: var(--fs-400);
                white-space: pre;
                content: attr(data-category);
            }

            &:hover::before,
            &:focus-within::before,
            &:hover::after,
            &:focus-within::after {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}
