.booking-success {
    background-color: hsl(var(--clr-cta-400));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-secondary);
    gap: 1rem;

    &__wrapper {
        background-color: hsl(var(--clr-neutral-100));
        border-radius: 15px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: normal;

        margin-bottom: 4rem;
    }

    &__list {
        border-bottom: 1px solid hsl(var(--clr-neutral-900) / 0.1);
        padding-bottom: 1rem;
    }
    &__title {
        font-weight: 600;
        font-size: var(--fs-400);
        padding-bottom: 1rem;
        border-bottom: 1px solid hsl(var(--clr-neutral-900) / 0.1);
        margin-bottom: 1rem;
        text-align: center;
    }

    &__item {
        color: hsl(var(--clr-neutral-900) / 0.5);
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        gap: 10rem;
    }
    &__label {
        font-weight: 500;
    }
    &__footer {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: hsl(var(--clr-neutral-900) / 0.7);
        max-width: 30ch;
        gap: 1rem;
    }
    &__link {
        color: hsl(var(--clr-sun-400));
    }
}
