/* Colors */
.text-sun-400 {
    color: hsl(var(--clr-sun-400));
}

.text-neutral-900 {
    color: hsl(var(--clr-sun-400));
}

/* Billing Grid */
.billing-grid {
    background-color: hsl(var(--clr-neutral-100));
    border-radius: 15px;
    margin-bottom: var(--margin-size);
    padding: 3rem;
    box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--ff-secondary);

    &--create {
        display: grid;
        grid-template-columns: auto 1fr;
        width: fit-content;
        transform: scale(0.9);
        margin-inline: auto;
        margin-bottom: 3rem;
    }
}

/* Billing Summary */
.billing-summary {
    border-radius: 15px;
    border: 1px solid hsl(var(--clr-neutral-900) / 0.2);
    margin-right: 3rem;
    font-weight: 500;
    padding: 1.5rem;

    & > * {
        margin-bottom: 21px;
    }

    &__title {
        font-weight: 600;
        font-size: 1.5rem;
        color: hsl(var(--clr-cta-400));
    }

    &__room-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 21px;
    }

    &__room-image {
        margin-right: 0.5rem;
        width: 90%;
        border-radius: 7px;
        object-position: top left;
        grid-row: span 2;
    }

    &__dropdown-trigger {
        color: black;
        width: 10px;
        cursor: pointer;
        padding: 0.5rem 0;
        margin: 0;
        height: min-content;
        transition: transform 300ms ease;
        background: none;
        border: none;

        &--active {
            transform: rotate(180deg);
        }

        &:hover:not(.billing-summary__dropdown-trigger--active) {
            transform: scale(1.5);
        }
    }

    &__room-heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.375rem;
        &--left {
            width: 15ch;
        }
    }

    &__room-price {
        display: flex;
        justify-content: flex-end;
        color: hsl(var(--clr-sun-400));
        font-size: 1.5rem;
        font-weight: 600;
        white-space: nowrap;
    }

    &__room-deal {
        margin-bottom: 0.625rem;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        white-space: nowrap;

        &--right {
            justify-content: flex-end;
            text-transform: uppercase;
        }

        &--divider {
            padding-top: 1rem;
            border-top: 2.5px solid hsl(var(--clr-primary-400) / 0.2);
        }
    }

    &__coupon {
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: right;
        white-space: nowrap;
    }

    &__coupon-input,
    &__coupon-input:focus {
        border: 1px solid hsl(var(--clr-neutral-900) / 0.2);
        width: 14ch;
        padding: 1rem;
        border-radius: 10px;
        text-align: center;
        text-transform: uppercase;
    }

    &__coupon-success {
        color: hsl(var(--clr-cta-400));
    }

    &__coupon-error {
        color: rgb(196, 57, 57);
    }

    &__total-value {
        font-size: 2rem;
        white-space: nowrap;
        font-weight: 600;
    }
}
