.animated-div {
    opacity: 0;
    filter: blur(5px);
    --transition-speed: 0.7s;

    &.from-bottom {
        transform: translateY(50px);
    }

    &.from-right {
        transform: translateX(50px);
    }

    &.from-left {
        transform: translateX(-50px);
    }

    &.animate-in {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);

        &.from-right {
            transform: translateX(0);
        }

        &.from-left {
            transform: translateX(0);
        }
    }

    transition: opacity var(--transition-speed) ease-in,
        transform var(--transition-speed) ease-in,
        filter var(--transition-speed) ease-in;

    @media (prefers-reduced-motion) {
        transition: none;
    }
}
