.animated-div {
    opacity: 0;
    filter: blur(5px);

    &.from-bottom {
        transform: translateY(100%);
    }

    &.from-right {
        transform: translateX(100%);
    }

    &.from-left {
        transform: translateX(-100%);
    }

    &.animate-in {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);

        &.from-right {
            transform: translateX(0);
        }

        &.from-left {
            transform: translateX(0);
        }
    }

    transition: opacity 1.5s ease-in, transform 1.5s ease-in,
        filter 1.5s ease-in;

    @media (prefers-reduced-motion) {
        transition: none;
    }
}
