.booking__status {
    border-radius: 25px;
    font-weight: 600;
    padding: 0.5rem 1rem;
    display: block;
    width: min-content;
    height: min-content;
    font-size: 0.9375rem;
    font-family: var(--ff-secondary);

    &--upcoming {
        background-color: hsl(124, 61%, 64%, 0.1);
        color: hsl(124, 50%, 61%);
    }

    &--cancelling {
        background-color: hsl(46, 100%, 73%, 0.1);
        color: hsl(46, 91%, 52%);
    }

    &--cancelled {
        background-color: hsla(16, 100%, 71%, 0.1);
        color: hsl(15, 100%, 66%);
    }

    &--finished {
        background-color: hsl(209, 100%, 64%, 0.1);
        color: hsl(209, 100%, 64%);
    }
}
