.booking__status {
    // border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    font-weight: 600;
    padding: 0.5rem 1rem;
    display: block;
    text-align: center;
    width: 12ch;
    font-size: 0.9375rem;
    // box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.5);

    &--upcoming {
        background-color: #c7f7cb;
    }

    &--cancelling {
        background-color: #fff7ae;
    }

    &--cancelled {
        background-color: #ffcfc0;
    }

    &--finished {
        background-color: hsl(151, 100%, 94%);
    }
}
