.button {
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 1rem 1.5rem;
    color: white;
    text-transform: uppercase;

    &--special {
        border: 1px solid white;
    }

    &--primary {
        border: none;
        background-color: var(--clr-cta-400);
        font-family: var(--ff-secondary);
    }

    &--secondary {
        border: 2px solid var(--clr-primary-400);
        color: var(--clr-primary-400);
    }
}
