.button {
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 1.3rem 2rem;
    color: white;
    text-transform: uppercase;
    border-radius: 0.5rem;

    &--special,
    &--special:hover {
        border: 2px solid white;
        font-family: var(--ff-secondary);
    }

    &--primary,
    &--primary:hover {
        border: none;
        max-width: max-content;
        max-height: max-content;
        background-color: hsl(var(--clr-cta-400));
        font-family: var(--ff-secondary);
        font-size: var(--fs-300);
    }

    &--secondary,
    &--secondary:hover {
        border: 2px solid hsl(var(--clr-primary-400));
        color: hsl(var(--clr-primary-400));
    }
}
