.dropdown {
    width: max-content;
    position: relative;
    cursor: pointer;

    &__container {
        background-color: hsl(var(--clr-neutral-100));
        border-radius: 5px;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 1rem;
        z-index: 10;
    }

    &__link,
    &__link:hover,
    &__link:focus {
        border: none;
        background: none;
        text-decoration: none;
        color: hsl(var(--clr-primary-500));

        display: flex;
        align-items: center;
        gap: 0.3rem;

        width: 100%;
        padding: 0.5rem;

        white-space: nowrap;
        font-family: var(--ff-secondary);

        cursor: pointer;
        transition: color 200ms ease;
    }

    &__link:hover {
        color: hsl(var(--clr-sun-400));
    }
    &__icon path {
        fill: hsl(var(--clr-neutral-900));
    }

    &__link:hover &__icon path {
        fill: hsl(var(--clr-sun-400));
    }
}

.right-100 {
    right: 100%;
}
.bottom-100 {
    bottom: 100%;
}
.top-100 {
    top: 100%;
}
.left-100 {
    left: 100%;
}

.export {
    background-color: hsl(var(--clr-neutral-100));
    padding: 1rem;
    font-weight: 600;

    &__dropdown-container {
        background-color: hsl(var(--clr-neutral-100));
        border-radius: 1rem;

        display: flex;
        flex-direction: column;

        position: absolute;
        overflow: hidden;
        border: 1px solid hsl(var(--clr-neutral-900) / 0.1);
    }

    &__dropdown-option {
        cursor: pointer;
        background: none;
        border: none;
        outline: none;

        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        transition: filter 300ms ease;
        z-index: 2;
        border-bottom: 1px solid hsl(var(--clr-neutral-900) / 0.1);

        &:hover {
            background-color: hsl(var(--clr-neutral-300) / 0.2);
        }
    }
}
