.flex-container {
    position: relative;
}

.nav {
    $margin--size: min(3rem, 7.1875rem);

    // background-color: hsla(102, 100%, 85%, 0.5);
    color: hsl(0, 0%, 100%);

    &_type_landing {
        display: flex;
        margin: 3em 6em 0 $margin--size;
        inset: 0;
        position: absolute;
        justify-content: space-between;
    }

    &__logo {
        width: 8.8125rem;
    }

    &__list {
        display: flex;
    }

    &__link {
        display: inline-block;
        color: white;
        padding: 1.31rem;
    }

    &__cta {
        display: flex;
        flex-direction: column;
    }
}
