@use "../abstract/mixins" as m;

.nav {
    // background-color: rgba(green, 0.5);
    color: hsl(0, 0%, 100%);
    z-index: 1000;

    &_type_landing {
        display: none;

        @include m.mq(medium) {
            display: flex;
            margin: 3em var(--margin-size) 0 var(--margin-size);
            left: 0;
            right: 0;
            position: absolute;
            justify-content: space-between;
        }
    }

    &__logo {
        width: 8.8125rem;
    }

    &__list {
        display: flex;
    }

    &__link {
        display: inline-block;
        color: white;
        padding: 1.31rem;
    }

    &__cta {
        display: flex;
        flex-direction: column;
    }
}
