// Custom Pagination Styles
.custom-pagination {
    display: flex;
    align-items: center;
    font-family: var(--ff-secondary);
    gap: 0.5rem;
    overflow: auto;
}

.page-btn,
.prev-btn,
.next-btn {
    border-radius: 0.3125rem;
    padding: 0.5rem 0.75rem;
    border: 0.0625rem solid #ccc;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.font-medium {
    font-weight: 600;
}

.page-numbers {
    display: flex;
}
.page-btn:hover,
.prev-btn:hover,
.next-btn:hover {
    background-color: #f0f0f0;
}

.page-btn.active {
    background-color: hsl(var(--clr-admin-100));
    color: #000;
}

.page-btn.disabled,
.prev-btn.disabled,
.next-btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.dots {
    padding: 0.5rem 0.75rem;
    margin: 0 0.25rem;
    color: #999;
}
