@use "../abstract/mixins" as m;
.step-bar {
    // border: 0.5rem solid lime;
    color: hsl(var(--clr-primary-300));
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(var(--margin-size) / 2);

    &__title {
        color: hsl(Var(--clr-sun-400));
        width: 100%;
        margin-top: var(--margin-size);
        margin-bottom: calc(var(--margin-size) / 2);

        text-align: center;
        font-size: var(--fs-700);
        font-family: var(--ff-special);
    }

    --text-color: hsl(var(--clr-sun-500) / 0.5);
    --circle-fill-color: hsl(var(--clr-primary-100));
    --circle-text-color: var(--text-color);
    --line-color: hsl(var(--clr-sun-400) / 0.3);
    --circle-border: 2px solid hsl(var(--clr-sun-400) / 0.3);
    --circle-height: 3rem;

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        &--active,
        &--completed {
            --text-color: hsl(var(--clr-sun-500));
            --circle-border: 2px solid hsl(var(--clr-sun-400));
            --circle-text-color: hsl(var(--clr-sun-500));
            --line-color: hsl(var(--clr-sun-400));

            font-weight: 500;
        }

        &--completed {
            --circle-fill-color: hsl(var(--clr-sun-400));
            i {
                color: hsl(var(--clr-neutral-100));
            }
        }

        &:not(:first-child)::before {
            content: "";
            border-bottom: 2px solid var(--line-color);
            position: absolute;
            top: calc(var(--circle-height) / 2);
            left: -50%;
            z-index: 2;
            width: 100%;
        }
        &_:not(:last-child)::after {
            content: "";
            border-bottom: 2px solid var(--line-color);
            position: absolute;
            top: calc(var(--circle-height) / 2);
            left: 50%;
            z-index: 2;
            width: 100%;
        }
    }

    &__circle {
        font-family: var(--ff-secondary);
        color: var(--circle-text-color);
        background: var(--circle-fill-color);
        border: var(--circle-border);
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        width: var(--circle-height);
        height: var(--circle-height);
        margin-bottom: 0.5rem;
    }

    &__name {
        color: var(--text-color);
        white-space: nowrap;
        font-family: var(--ff-secondary);
        text-transform: uppercase;
    }
}
