@use "../abstract/mixins" as m;

.step-bar {
    background-color: hsl(var(--clr-cta-400));
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: calc(var(--margin-size) * 2);
    padding-bottom: calc(var(--margin-size) / 2 + 1.5rem);
    padding-right: calc(var(--margin-size) * 2);

    &__title {
        background-color: hsl(var(--clr-cta-400));

        color: hsl(Var(--clr-neutral-100));
        width: 100%;
        padding-top: var(--margin-size);
        padding-bottom: calc(var(--margin-size) / 2);

        text-align: center;
        font-size: var(--fs-700);
        font-family: var(--ff-special);
    }

    --line-color: hsl(var(--clr-neutral-100));
    --text-color: hsl(var(--clr-neutral-100));
    --circle-fill-color: hsl(var(--clr-cta-400));
    --circle-text-color: hsl(var(--clr-neutral-100));
    --circle-border: 2px solid hsl(var(--clr-neutral-100));
    --circle-height: 3rem;

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        &--active,
        &--completed {
            --line-color: hsl(var(--clr-neutral-100));
            --text-color: hsl(var(--clr-neutral-100));
            --circle-border: 2px solid hsl(var(--clr-neutral-100));
            --circle-fill-color: hsl(var(--clr-neutral-100));
            --circle-text-color: hsl(var(--clr-cta-400));

            font-weight: 500;
            i {
                color: hsl(var(--clr-cta-400));
            }
        }

        &:not(:first-child)::before {
            content: "";
            border-bottom: 2px solid var(--line-color);
            position: absolute;
            top: calc(var(--circle-height) / 2);
            left: -50%;
            z-index: 2;
            width: 100%;
        }
        &_:not(:last-child)::after {
            content: "";
            border-bottom: 2px solid var(--line-color);
            position: absolute;
            top: calc(var(--circle-height) / 2);
            left: 50%;
            z-index: 2;
            width: 100%;
        }
    }

    &__circle {
        color: var(--circle-text-color);
        background: var(--circle-fill-color);
        border: var(--circle-border);
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        position: relative;

        width: var(--circle-height);
        height: var(--circle-height);
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
        font-weight: 500;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    }

    &__name {
        color: var(--text-color);
        white-space: nowrap;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 500;
        text-shadow: 2px 2px hsl(var(--clr-neutral-900) / 0.2);
    }
}
