:root {
    --margin-size: clamp(0.5rem, 10vw, 7.1875rem);
}

html,
body {
    height: 100%;
}

body {
    /* Set core body defaults */
    text-rendering: optimizeSpeed;
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
    background-color: hsl(var(--clr-primary-100));
    color: hsl(var(--clr-neutral-900));
    line-height: 1.1;
    overflow-x: hidden;
}
body.admin {
    background-color: hsl(var(--clr-neutral-900) / 0.1);
}

input:read-only {
    color: grey;
    cursor: default;
}

.swal2-popup {
    font-family: var(--ff-secondary);
}
.lb-details {
    font-family: var(--ff-secondary);
}

.hidden {
    display: none;
}
.text-semi-bold {
    font-weight: 600;
}

[x-cloak] {
    display: none !important;
}
