@use "../abstract/mixins" as m;

@include m.mq(small) {
    .container {
        &--landing {
            width: calc(100% - (var(--margin-size) * 2));
            margin-left: auto;
            margin-right: auto;
        }
        &--search {
            padding-right: calc(var(--margin-size) * 2);
            padding-left: calc(var(--margin-size) * 2);
        }
    }
}
