$colors: (
    cta: (
        100: hsl(110, 100%, 80%),
        200: hsl(110, 100%, 50%),
        300: hsl(90, 87%, 31%),
        400: hsl(110, 100%, 25%),
    ),

    primary: (
        100: hsl(20, 50%, 90%),
        200: hsl(20, 50%, 85%),
        300: hsl(20, 50%, 50%),
        400: hsl(20, 50%, 40%),
        500: hsl(20, 50%, 25%),
    ),

    neutral: (
        100: hsl(0, 0%, 100%),
        200: hsl(0, 0%, 85%),
        300: hsl(0, 0%, 80%),
        700: hsl(0, 0%, 40%),
        800: hsl(0, 0%, 30%),
        900: hsl(0, 0%, 15%),
    ),
);
