$colors: (
    cta: (
        100: 110 100% 80%,
        200: 110 100% 50%,
        300: 90 87% 31%,
        400: 159 36% 45%,
        500: 158 32% 41%,
    ),
    primary: (
        100: 34 100% 97%,
        200: 34 100% 85%,
        300: 20 50% 60%,
        400: 20 50% 40%,
        500: 14 39% 28%,
    ),
    sun: (
        100: 36 97% 90%,
        200: 36 97% 80%,
        300: 36 97% 60%,
        400: 21 62% 55%,
        500: 36 97% 40%,
    ),
    neutral: (
        100: 0 0% 100%,
        200: 0 0% 85%,
        300: 0 0% 80%,
        700: 0 0% 40%,
        800: 0 0% 30%,
        900: 0 0% 15%,
    ),
    admin: (
        100: 125 75% 91%,
    ),
);
