$clr--cta--100: hsl(110, 100%, 80%);
$clr--cta--200: hsl(125, 100%, 40%);
$clr--cta--300: hsl(125, 100%, 25%);

$clr--neutral--000: hsl(0, 0%, 100%);
$clr--neutral--100: hsl(40, 50%, 95%);
$clr--neutral--200: hsl(40, 50%, 90%);
$clr--neutral--200: hsl(15, 40%, 90%);
$clr--neutral--400: hsl(15, 40%, 40%);
$clr--neutral--500: hsl(15, 40%, 20%);
$clr--neutral--600: hsl(0, 0%, 0%);
