$ff--primary: "Newsreader", serif;
$ff--secondary: "Poppins", sans-serif;
$ff--special: "Sacramento", cursive;

$fs--xs: clamp(1rem, 2.5vw, 1rem);
$fs--s: clamp(1rem, 2.5vw, 3rem);
$fs--m: clamp(0.5rem, 0.5vw, 1rem);
$fs--l: clamp(1.5rem, 1.5vw, 2.5rem);
$fs--xl: clamp(2rem, 2.5vw, 3rem);
